<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nemo, non aperiam rerum maxime at, beatae itaque nisi voluptate ipsa qui ut, labore quae! Aliquid debitis incidunt tenetur omnis facere.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nemo, non aperiam rerum maxime at, beatae itaque nisi voluptate ipsa qui ut, labore quae! Aliquid debitis incidunt tenetur omnis facere.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis nemo, non aperiam rerum maxime at, beatae itaque nisi voluptate ipsa qui ut, labore quae! Aliquid debitis incidunt tenetur omnis facere.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>